/* text-align: center; <--- CENTERS EVERYTHING THAT DOES NOT HAVE A WIDTH SET */
/* USE MARGIN/POSITION TO CENTER STUFF WITH WIDTH PROPERTY ASSIGNED */
/* 100% = 16px = 1em */
body {
  margin: 0;
  background-color: #0A1931;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

@keyframes gradient {
  from {background-color: #FF019A;}
  to {background-color: #FFB12B;}
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

h1 {
  text-decoration:double;
  color: #FF019A;
  font-size: 3.75rem;
  animation: rotate 10s infinite
}

a {
  color: black;
  position: inline-block;
  text-decoration: none;
}

div {
  width: 300px;
  height: 300px;
  margin: 0;
}

.minerva {
  /* background-color: #E900FF; */
  position: absolute;
  left: 29.181vw;
  animation: gradient 10s alternate infinite;
}

.email {
  background-color: #FF019A;
  position: absolute;
  left: 50vw;
  animation: gradient 10s alternate-reverse infinite;
}

.github {
  background-color: #FF019A;
  position: absolute;
  top: 64.2vh;
  left: 29.181vw;
  animation: gradient 10s alternate-reverse infinite;
}

.kolorki {
  background-color: #FF019A;  
  position: absolute;
  top: 64.2vh;
  left: 50vw;
  animation: gradient 10s alternate infinite;
}

