body {
  margin: 0;
  background-color: #051367;
  text-align: center;
  font-family: 'Sacramento', cursive;
  font-size: 25px;
}

.sky {
  margin: 0;
  position: relative;
  background-color: #5D8BF4;
  padding-top: 50px;
}

h1 {
  position: relative;
  left: auto;
  right: auto;
  top: 200px;
  color: #DFF6FF;
  font-size: 6.25rem;
}

.job {
  position: relative;
  color: #DFF6FF;
  left: auto;
  right: auto;
  top: 200px;
  font-size: 2.5rem;
}

.math {
  color: #DFF6FF;
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 150px;
  top: 150px;

}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 200px;
}

.mountain {
  margin: 400px auto 0 auto;
}

.night {
  position: relative;
  background-color: #21325E;
  padding-top: 20px;
}

.moon {
  width: 10%;
  height: 10%;
  display: block;
  margin: auto;
}

.las {
  margin: 400px auto 0 auto;
  display: inline-block;
  height: 20%;
  width: auto;
}

#las1 {
  position: absolute;
  left: 0;
}
