body {
    font-family: 'Montserrat', sans-serif;
}

h1 { 
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem; 
    line-height: 1.5; 
    font-weight: 900;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}

#title {
    background-color: #FF4C68;
    color: #FFF;
}

.container-fluid {
    padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

/* Download buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Title Image */

.img-div {
    position: relative;
    padding-bottom: 530px;
}

.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* Features Section */

#features {
    text-align: center;
    padding: 7% 15%;
    background-color: #FFF;
    position: relative;
    z-index: 1;
}

.emoji {
    padding: 0;
    margin: auto;
    color: #EF8172;
    font-size: 4rem;
}

.emoji:hover {
    color: #FF4C68;
}

.featuresr {
    text-align: center;
    padding: 5%;
}

h3 {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.5rem;
    font-weight: bold;
}

p {
    color: #8f8f8f;
    margin: auto;
}

/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #EF8172;
    color: #FFF;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 20%;
    margin-right: 0;
    text-align: center;
}

.testimonial-text {
    width: 100%;
}

/* Press */

#press {
    background-color: #EF8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    text-align: center;
    padding: 100px;
}

.last-p {
    padding-bottom: 25px;
}

.pricing-column {
    padding: 3% 2%;
}

/* Media query */

@media screen and (max-width: 1028px) {
    .title-img {
        position: static;
        transform: rotate(0);
    }

    #title {
        text-align: center;
    }
} 

/* Call to action section */

#cta {
    background-color: #FF4C68;
    text-align: center;
}

.cta-h3 {
    color: #FFF;
    font-size: 5rem;
    padding: 5% 10%;
}

/* Footer section */

#footer {
    text-align: center;
    padding: 15% 5% 3% 5%;
}

.footer-emojis {
    padding-bottom: 2%;
}